/* Headings for titles and section headers */
@font-face {
  font-display: swap;
  font-family: "CalSansHeading";
  src: url("/fonts/CalSansVF.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

/* Sans (Variable Font for contents) */
@font-face {
  font-display: swap;
  font-family: "CalSansUI";
  src: url("/fonts/CalSansVF.woff2") format("woff2");
  font-weight: 400 700;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "CalSansUI";
  src: url("/fonts/CalSansVF-italic.woff2") format("woff2");
  font-weight: 400 700;
  font-style: italic;
}

/* Mono for code */
@font-face {
  font-display: swap;
  font-family: "PaperMono";
  src: url("/fonts/PaperMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

:root {
  --font-heading: "CalSansHeading", sans-serif;
  --font-sans: "CalSansUI", sans-serif;
  --font-mono: "PaperMono", monospace;
}

@import "#lib/components/ui/global.css";

@layer base {

  a:active,
  button:active {
    @apply opacity-72 md:opacity-100;
  }
}